:root {
  --main-color: #333333;
  --bg-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #dddddd;
    --bg-color: #333333;
  }
  a {
    color: lightblue;
  }
  a:visited {
    color: lightpink;
  }
}

* {
  box-sizing: border-box;
}

body, main {
  color: var(--main-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: sans-serif;
}

.hidden {
  display: none !important;
}
